media -fstype=afp afp://{{ nas_user }}:{{ nas_password }}@{{ nas_host }}/Media
downloads -fstype=afp afp://{{ nas_user }}:{{ nas_password }}@{{ nas_host }}/downloads
config -fstype=afp afp://{{ nas_user }}:{{ nas_password }}@{{ nas_host }}/config
